.logox
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 115px;
  padding-top: 10px;
}
.logo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 70px;
  padding:6px; 
}
p{
	text-align: center;
	font-weight:bold;
	font-size:15;
	color: white;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.p
{
display: none;
}
body
{
  background-image: url('main.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h2
{
font-family:castellar;
color: gold;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
p
{
color: gold;
font-size:22px;
font-family:calisto mt;
}
	